@using Microsoft.Ajax.Utilities
@model string

@{
    ViewBag.Title = "Error";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/GosuArena.less")" />
}

<h2>An error occurred :(</h2>

@if (!Model.IsNullOrWhiteSpace())
{
    <p>@Model</p>
}
