@import "../GosuArenaVariables.less";

@itemFontSize: 20px;

#bot-lists-container {
    margin-top: @itemFontSize;
}

#selected-bots-container {
    padding: 0;
}

li.bot {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0 0 10px 0;

    .author {
        color: @backgroundInfoColor;
        float: right;
    }
}

ul {
    padding: 0;
}

ul#bots {
    padding-right: 10px;

    .selected {
        display: none;
    }
}

.no-selection-message {
	font-style: italic;
    color: #ccc;
    background-color: #fdfdfd;
    border-style: dotted;
    font-size: 16px;
    display: block;
    font-size: @itemFontSize;
}

ul#selected-bots {
    li.bot {
        background-color: #dff0d8;
    }
}

#play-button {
    float: right;
    min-width: 150px;
}