@import "bootstrap-3.0.3/less/bootstrap.less";

html {
    font-family: verdana;
}

header {
    height: 50px;

    #menu-bar-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #7117ae;
        margin-top: 0;
        height: 25px;
        width: 100%;
    
        #menu-bar {
            padding-top: 2px;

            @menu-bar-item-spacing: 12px;

            .menu-bar-item {
                    text-transform: lowercase;
                    color: white;
                    font-weight: bold;
                    font-family: arial;

                    &.active {
                        text-decoration: underline;
                        font-weight: bolder;
                    }
            }
            
            .container;

            nav {
                ul {
                    margin: 0;
                    padding: 0;
                    float: left;

                    li {
                        margin-right: @menu-bar-item-spacing;
                        list-style: none;
                        display: inline-block;

                        a {
                            .menu-bar-item;
                        }
                    }
                }
            }

	        menu#account {
                margin: 0;
                float: right;

                a {
                    margin-left: @menu-bar-item-spacing;

                    .menu-bar-item;
                }
            }
        }
    }

    h1 {
        height: 0;
        overflow: visible;
        text-transform: lowercase;
        color: #efefef;
        margin-top: 35px;
        float: right;
        font-family: verdana;
        font-weight: bold;
        font-size: 50px;
    }
}

form {
    .row;

    [type=submit].main-submit {
        .btn;
        .btn-default;
        .pull-right;
    }

    fieldset {
    }

    div {
        .form-group;
    }

    input[type=text], input[type=password] {
        .form-control;
    }
}

@media only screen and (min-width: 767px) {
}