@{
    ViewBag.Title = "What's new?";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/Docs/Index.less")" />
}

<h2>What's New?</h2>

<h3>2014-01-15</h3>

<ul>
    <li>Added documentation for the onCollission event and the actionsPerRound property of the bot status object</li>
    <li>Added health to the bot status object</li>
    <li>Fixed bug where users were allowed to register more than one bot in a single script</li>
</ul>
